<%# <p> <%= @result %> </p> 

<%# <% @result.each do |image| %>
    <%# <%= image %>
<%# <% end %> 

<style type="text/css">
img {
  transform: scale(2);

  margin: 100px;

}
</style>


<img src = <%= @result %>>

      