<%# <p> <%= @result %> </p> 

<%# <% @result.each do |image| %>
    <%# <%= image %>
<%# <% end %> 

<style type="text/css">
img {
  transform: scale(2);

  margin: 100px;

}

.image_shows {
  display: inline-block;
}
</style>
  
    <% @items.each do |item| %>
     <form class="image_shows" action="/new" method="post">
        <input type="hidden" name="url" value="<%= item %>">
        <button type="submit"><img src = <%= item %>></button>
     </form>
    <% end %>

      <div>
          <form action="/json/search" method="post">
                    <label for="book_name"></label><br>
                    <input type="text" name="book_name">
                    <button type="submit">カバー検索</button>
                </form>
      </div>