
<h1>メニュー</h1>
<div style="font-size:200%;" class="col-sm-5 mx-auto">
  <a href="/myposts" ><%= @session %>さんの全投稿</a>
  <p></p>
  <a href="/inquiry" >お問い合わせ</a>
  <p></p>
  <a href="/destroy/acount" >退会する</a>
