
    <div class="container">
      <h1><%= @session %>さんの全投稿</h1>
        <div class="col-sm-8 mx-auto">
          <table>
            <tr><th>タイトル</th></tr>
            <% @posts.each do |post| %>
              <tr>
                <% if post.user_name == @session %>
                  <td><a style="font-size:200%;" href='/show/<%= post.id %>'><%=post.title %></a></td>
                <% end %>
              </tr>
              <% end %>
          </table>
          <p>
          <p></p>
        </div>
      
      
    </div>
