<div class="container">
    <div class="jumbotron">
      <div class="row">    
          <div class="col-sm-5 book">
            <img class="image" src = <%= @result %>>
          </div>
          
          <div class="col-sm-7 book">  
            <h1>新規メモ</h1>

                <form action="/create" method="post">
                    <label for="title">タイトル</label><br>
                    <input type="text" name="title">
                    <p></p>
                    <label for="content">本文</label><br>
                    <textarea name="content" cols="40" rows="10"></textarea>
                    <p></p>
                    <button type="submit">作成する</button>
                    <a href='/'>キャンセル</a>
                </form>
        </div> 
          
       </div>
   </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" type="submit" class="btn btn-outline-primary d-none" style="margin-left:460px;margin-top:10px; padding-bottom:10px;transform:scale(1.5)">投稿する</button>
        </div>
      </div>