  <body>
    <div class="container">
      
        <div class="col-sm-8 mx-auto">
      <table>
        <tr><th>タイトル</th></tr>
        <% @posts.each do |post| %>
           <tr>
              
              <td><a href='/show/<%= post.id %>'><%=post.title %></a></td>
           </tr>
           <% end %>
      </table>
          <p>
          <p></p>
          <p><a href = '/new'>新規メモ</p>
          </p>
        </div>
      
      
    </div>
