
    <div class="container">
      
        <div class="col-sm-12 mx-auto">
          <table>
            <tr><th>タイトル</th><th>ユーザー</th></tr>
            <% @posts.each do |post| %>
              <tr>
                  
                  <td width="450" height="0" style="font-size:200%;"><a href='/show/<%= post.id %>'><%=post.title %>  <span style= margin-left:100px;><%=post.user_name %></span></a></td>
              </tr>
              <% end %>
          </table>
          <p>
          <p></p>
          <p><a href = '/new'>新規メモ</p>
          </p>
        </div>
      
      
    </div>
