  <body>
    <div class="container">
      
        <div class="col-sm-8 mx-auto">
      <table>
        <tr><th>Id</th><th>タイトル</th></tr>
        <% @posts.each do |post| %>
           <tr>
              <td><%= post.id %></td>
              <td><a href='/show/<%= post.id %>'><%=post.title %></a></td>
           </tr>
           <% end %>
      </table>
          <p>
          <p></p>
          <p><a href = '/new'>新規メモ</p>

            
              
              <!-- Modal -->
          <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ログイン</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div id="login-form">
                      <input class="form-control" type="text" placeholder="メールアドレス">
                      <input class="form-control" type="password" placeholder="パスワード">
                      </div>
                    <div class="btn-group btn-group-toggle d-none" data-toggle="buttons">
                      <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 男性
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 女性
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 其の他
                      </label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary">ログインする</button>
                  </div>
                  <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新規登録</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div id="login-form">
                          <input class="form-control" type="text" placeholder="メールアドレス">
                          <input class="form-control" type="password" placeholder="パスワード">
                          <input class="form-control" type="password" placeholder="使用するユーザーネーム">

                          </div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 男性
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> 女性
                          </label>
                          <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> 其の他
                          </label>
                        </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary">保存</button>
                  </div>
                </div>
              </div>
            </div>
            <!--modal_end-->
          </p>
        </div>
      
      
    </div>
