

  <body>

    
    <div class="container">
      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>好きなマンガの、レビュー を書こう</h1>
          <p>あなたが好きなマンガのレビューを投稿する事ができます。タイトル入力でカバー画像も表示可能です。</p>
          <p class="d-none">This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="https://v4-alpha.getbootstrap.com/examples/navbar-top/">top</a> and <a href="https://v4-alpha.getbootstrap.com/examples/navbar-top-fixed/">fixed top</a> examples.</p>
          <p class="d-none">At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
          <p>
            <a class="btn btn-primary" href="http://localhost:4567/b" role="button">レビュー ALL »</a>
            <a class="btn btn-primary d-none" id="login-show" href="#" role="button">ログイン/登録»</a>
            <!-- Button trigger modal -->
<button type="button" class="b btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  ログイン/登録
</button>


          </p>
        </div>
      </div>
      
    </div>
    
    
    